@charset "utf-8";
/* Custom style for Flex Learning Banner Area */

/* Remove this body bg image before uploading to T4 */
body {
	background: url("/images/uf-bg-texture.png") repeat scroll 0 0;
}

#banner {
	height: 500px;
	background: url("/images/FoggyMorning-3reduced.jpg") top center no-repeat;
	background-size: cover;
	margin-bottom: 25px;
}

#banner_caption {
	width: 450px;
	margin-top: 20px;
	padding: 10px;
}

.flexbox {
	display: flex;
}

.flex-flow {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.headflush {
	margin: 0;
	padding: 0;
}

.dark {
	background-color: rgba(0,0,0,.6);
}

.light {
	color: #6B99C3;
}

.banner_caption_ul {
	margin: 5px 0 10px;
	height: auto;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.white, .white a {
	color: white;
}

.uppercase {
	text-transform: uppercase;
}

.flow li {
	margin-right: 5px;
}

.button li {
	padding: 4px 0;
	background-color: rgba(226,143,65,0.7);
	border-radius: 5px;
	font-size: 12px;
	-webkit-transition: background-color 0.5s ease-out;
  	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button li:hover {
	background-color: #E28F41;
}

.button a {
	padding: 2px 10px;
}

.banner_caption_ul li::before, .banner_caption_ul li::before {
    content: none;
}

.banner_caption_ul:nth-last-of-type(1) {
	border-bottom: 0;
}

.banner_caption_btn {
	border-color: #E28F41;
	background-color: transparent;
	color: white;
	-webkit-transition: background-color 0.5s ease-out;
  	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.banner_caption_btn:hover {
	background-color: rgba(226,143,65,0.7);
}

/* ----- Banner Accordion ----- */

.banner_accordion, .banner_accordion * {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.banner_accordion {
	overflow: hidden;
	margin-top: 10px;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
}

/*----- Section Titles -----*/
.banner_accordion_section-title {
    width:100%;
    padding:10px;
    display:inline-block;
    border-bottom:1px solid #6088ad;
    background:#6C9AC3;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.2em;
	font-family: "quadon","Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.banner_accordion_section-title.active, .banner_accordion_section-title:hover {
    background:#7ca5c9;
    /* Type */
    text-decoration:none;
	color: #fff;
}

.banner_accordion_section:last-child .banner_accordion_section-title {
    border-bottom:none;
}

.banner_accordion_section-content {
    padding:10px 10px 0;
    display:none;
}

#accordion1.banner_accordion_section-content {
    display:block;
}

/* ----- Media Queries ----- */

@media screen and (max-width:991px){
	#banner {
		height: 400px;
	}
}

@media screen and (max-width:649px){
	#banner {
		height: 350px;
	}
	#banner_caption {
		max-width: 400px;
		margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#banner_caption h3 {
		font-size: 1.25em;
	}
	.button li {
		padding: 2px 0;
		font-size: 11px;
	}
	.button a {
		padding: 2px 5px;
	}
	.banner_caption_btn {
		display: none;
	}
}

@media screen and (max-width:449px){
	#banner_caption {
		max-width: 340px;
	}
	.banner_caption_ul {
		margin-bottom:5px;
	}
}


@media screen and (max-width:399px){
	#banner_caption {
		display: none;
	}
}

@media screen and (min-width:400px){
	.banner_accordion {
		display: none;
	}
}
